<!--    File Name: error.ejs
      Author: Kody Reid
      Student Number: 301164732
      Application Name: COMP229-M2021-MidTerm-301164732
      Date: June 22, 2021
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
